{% extends 'base.html.twig' %}

{% block body %}
    <div class="profile">
        <div class="profile__title"><strong>{{ username }}</strong>, это ваш личный кабинет</div>
        <a class="btn-logout" href="">Выйти</a>
    </div>
{% endblock %}