{% extends 'base.html.twig' %}

{% block javascripts %}
    <script type="text/javascript" src="/assets/js/registration.js"></script>
{% endblock %}

{% block body %}
    <form id="reg-form" class="login-form" action="{{ url_for('registration') }}" method="post">
        <input class="login-form__item" name="username"  type="text" placeholder="Логин" />
        <input class="login-form__item" name="password"  type="password" placeholder="Пароль" />
        <input type="submit" value="Зарегистрироваться">
    </form>
{% endblock %}
